@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(185, 75%, 39%);
    background-image: url;
    overflow: hidden;
    font-family: "Kumbh Sans", serif;
}

section{
    background-color: #fff;
    width: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    overflow: hidden;
    
}


.foni{
    width: 100%;
    height: 140px;
}


.kaci{
    position: relative;
    z-index: 3;
    border-radius: 50%;
    border: 3px solid #fff;
    top: -50px;
}

.sataurisdivi{
    display: flex;
    gap: 10px;
    align-items: center;
}

h2{
    font-weight: 400;
    opacity: 60%;
    font-size: 17px;
}

.section2{
    position: relative;
    top: -30px;
    width: 100%;
}


p{
    padding: 10px 0px;
    opacity: 60%;
}

.hrdiv{
    background-color: rgb(236, 226, 226);
    width: 100%;
    height: 1px;
    margin: 15px 0px;
}


.dabladiv{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:40px;
    padding-top: 10px;
}

.dabladiv div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h4{
    font-weight: 400;
    font-size: 13px;
    padding: 6px 0px;
    opacity: 60%;
}