body{
    height: 100ch;
    display: flex;
    justify-content: center;
    align-items: center;
}

div{

    background-color: red;
    border-radius: 80px;
    height: 150px;
    width: 150px;
    
}

div:hover{
    transform: scale(2);
    transition: 0.5s;
    
}