*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
} 

body{
    background-color: hsl(0, 16%, 6%); 
}

nav ul{
    width: 100%;
    background-color: rgb(18, 13, 13);
    display: flex;
    justify-content:center;
    padding: 30px;
    list-style: none;
    font-style: italic;
    gap: 30px;

    a{

        color:rgb(158, 117, 14);

        text-decoration: none; 

        padding: 10px 20px;

        transition: color 0.3s;
    }
    a:hover {
        color: #5151e1; 
    }
}

header img{
    width:100%;

}
 
nav{
    font-size: 20px;
}

.nnn{
    display:flex;
    justify-content: center;
}

form{
    width:500px;
    display: flex;
    flex-direction: column;
    background-color: rgb(252, 235, 194);
    padding: 20px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}
form label{
    color: rgb(90, 65, 3);
    background-color: rgb(252, 235, 194);
}
form input{
    background-color: #e0e0e0;
    color: #333;
    border: 1px solid #ccc;
    width: 30%;
    padding: 4px 10px;
    border-radius: 6px;
    outline: none;
}

.money-container input, .money-container label{
    margin-top: 16px;
}  

.room-option{
    display: flex;
    align-items: center;
    justify-content: center;
}

.room-option input{
    width: 15px;
    height: 15px;
    margin-left: 16px;
    margin-top: 0;
}

input{
    margin-top: 16px;
} 