@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction:column;
    align-items: center;
    overflow-x: hidden;
    
}

.secfirst{
    background-color:  hsl(193, 63%, 88%);
    background-image: url(./images/bg-hero-desktop.svg);
    padding-left: 50px;
    flex-direction: row;
}

.secfirst  .div1{
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.secfirst .div1 button{
    margin-right: 50px;
    border: none;
    border-radius: 50px;
    padding: 0px  40px;
    cursor: pointer;
}

.secfirst .div1 h1{
    font-family: "Poppins", serif;
    
}

.headingdiv{
    display: flex;
    align-items: center;
    gap: 10px;
}

.headingdiv i{
    color: hsl(322, 100%, 66%);
}

.textdiv{
    margin-top: -100px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

#imageandtext{
    display: flex;
    align-items: center;
}

#imageandtext img{
    margin-right: 50px;
}
.textdiv h3{
    font-size: 40px;
    font-family: "Poppins", serif; 
    font-weight: 600;  
}

.textdiv p {
    padding-right: 40px;
    font-size: 18px;
    font-family: "Open Sans", serif;
}

.textdiv button{
    border: none;
    padding: 13px 50px;
    border-radius: 40px;
    color:#fff ;
    background-color: hsl(322, 100%, 66%);
    font-weight: 600;
}



/* second section */

.secondsection{
    background-color: hsl(190, 23%, 95%);
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 15px;
}

.secondsection #div02{
    padding-left: 55px;
}

#div01{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#div02{
    font-family:"Poppins", serif;  
    padding-right: 300px;
}

#div02 h1{
    font-weight: 500;
    font-size: 40px;
}

#div02 p{
    font-size: 18px;
    line-height: 24px;
    opacity: 50%;
}


/* end of fou section*/



.thirdsection{
    background-color: hsl(190, 23%, 95%);
    display: flex;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 15px;
}

.thirddiv{
    font-family:"Poppins", serif;  
    display: flex;
    flex-direction: column;
    padding-left: 200px;
    

}

.divi{
    display: flex;
    align-items: center;
}

.divi img{
    padding-left: 100px;
}
.thirddiv h1{
    font-weight: 600;
    font-size: 40px;
}
.thirddiv p{
    font-size: 18px;
    opacity: 50%;
}

/* fourth sec begining down*/

.fourthsection{
    background-color:hsl(190, 23%, 95%);
    display: flex;
    margin-top: 40px;
    border-radius: 15px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 250px;
}

.fourthsdiv{
    font-family:"Poppins", serif;  
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    
}

.lastdiv{
    display: flex;
    align-items: center;
}

.lastdiv img{
    padding-left: 250px;
}

.fourthsdiv h1{
    font-size: 40px;
    font-weight: 600;
}

.fourthsdiv p{
    font-size: 18px;
    opacity: 50%;
}

#lastsec{
    position: relative;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    
    
}

#lastsec div{
    position: absolute;
    bottom: -100px;
    gap: 20px;
    padding: 45px 70px;
    background-color:hsl(190, 23%, 95%);;
    font-family: "Poppins", serif;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
#lastsec div button{
    padding: 15px 45px;
    border: none;
    border-radius: 30px;
    background-color: hsl(322, 100%, 66%);
    color: #fff;
    cursor: pointer;
}



footer{
    font-family: sans-serif;
    color: #fff;
    background-color:  hsl(192, 100%, 9%);
    width: 100%;
    display: flex;
}

.footerdiv1{
    /* background-color: aqua; */
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom:60px ;
    font-family: sans-serif;
    padding-left: 20px;
}

#locationdiv{
    
    display: flex;
    
}
#locationdiv p{
    padding-left: 25px;
  
}
#locationdiv i {
    padding-top: 19px;
}

.calldiv{
    display: flex;
    align-items: center;
    gap: 15px;
}
.emaildiv{
    display: flex;
    align-items: center;
    gap: 20px;
}

#navfirst{

    /* background-color: red; */
    margin-top: 200px;
    height: 300px; 
    margin-left: 100px; 
}

#navfirst nav{
    display: flex;
    flex-direction: column;
    gap: 60px;
    cursor: pointer;
}
nav a{
    color: #fff;
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline;
}



.navsecond{

    /* background-color: red; */
    margin-top: 200px;
    height: 300px; 
    margin-left: 200px; 
}

.navsecond nav{
    display: flex;
    flex-direction: column;
    gap: 60px;
    cursor: pointer;
}

.logodiv{
    font-size: 2rem;
    margin-top: 200px;
    margin-left: 300px;
    gap: 70px;
    display: flex;
    
}


.logodiv i:hover{
    color:  hsl(322, 100%, 66%);
    transition: 0.4s;
}

.logodiv i{
    cursor: pointer;
}