body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div{
    background-color: red;
    width: 200px;
    height: 200px;
    animation-name: changeColor;
    animation-duration: 2s;
}

@keyframes changeColor{
    from{
        background-color: red;
    }

    to{
        background-color: blue;
    }
}