@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: "Inter", sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 20px 100px;
    width: 100%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
ul li{
    list-style-type: none;
}


