input[type="password"]{
    box-shadow: 6px 6px 10px red;
    border-radius: 15px;
    outline: none;
    padding-left: 40px;
    margin-left: 30px;
}

input[type="email"]{
    box-shadow: -3px -5px 10px greenyellow;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}