input[type="text"]{
    border-radius: 15px;
    outline: none;
    border: 2px solid red;
}

input[type="text"]:hover{
    border: 3px dotted green;
}
button{
    color: red;
    border: 2px solid red;

}
button:hover{
    width: 80px;
    height: 60px;
    border: 5px double green;
    color: green;
    font-size: 20pxs;
}