*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-direction: column;
}

.lefteye{
    background-color: blue;
    width: 200px;
    height: 200px;
}

.righteye{
    background-color: rgb(255, 13, 13);
    width: 200px;
    height: 200px;
}

.eyes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.mouth{
    width: 400px;
    height: 200px;
    background-color: black;
}