h1{
    color: red;
}

p{
    color: blue;
}


.Dog{
    margin-top: 100px;
    background-color: rgb(114, 135, 114);
    width: 300px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
}

img{
    width: 100%;
}

.catimg{
    width: 100%;
    height: 200px;
    object-fit: cover;
}