input[type="text"]{
    outline: none;
    border:solid red 4px
    
}

input[type="text"]:hover{
    border: blue 6px dotted;
    transition: 0.5s;
}

input[type="password"]{
    outline: none;
    border: none;
    border-bottom: purple dashed 5px;
}

input[type="password"]:hover{
    border: none;
    border-bottom:  solid greenyellow 3px;
    transition: 0.5s;
}

input[type="email"]{
    outline: none;
    border: brown dashed 4px;
}
input[type="email"]:hover{
    
    transition: 0.5s;
    border-bottom: solid green 6px;
    border:none

    
    
}