body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.parent {
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows:200px 200px;
    gap: 20px;
}



.parent div {
    background-color: red;
    
}