* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.idk {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    background-color: #2a304a;
    font-family: sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
h1{
    font-size: 50px;
    color: #fff;
    letter-spacing: 3px;
}
.img-container {
    width: 150px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 8px solid #434e79;
}

.fir {
    background-image: url(./images/crash.png);
    background-size: cover;

}

.seq {
    background-image: url(./images/kick.png);
    background-size: cover;
}

.thi {
    background-image: url(./images/snare.png);
    background-size: cover;

}

.fou {
    background-image: url(./images/tom1.png);
    background-size: cover;
}

.fif{
    background-image: url(./images/tom2.png); 
    background-size: cover;
    
}
.six{
    background-image: url(./images/tom3.png);
    background-size: cover;
}
.sev{
    background-image: url(./images/tom4.png);
    background-size: cover;
}
.premium{
    background-image: url(./images/kick.png);
    background-size: cover;
}
p {
    color: rgb(191, 61, 83);
    font-size: 40px;
    font-weight: 700;

}