body{
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    border: 3px solid red;
}

.parent{
    width: 100%;
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 200px 200px 200px;
    gap: 10px;
    align-items: center;
    justify-items: center;
}


img{
    
    
    height: 150px;
    width: 150px;
}