body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div{
    height: 200px;
    width: 200px;
    background-color: red;
}

div:hover{
    transform: rotate(180deg);
    transition: 1s;
    width: 250px;
    height: 250px;
}