ol{
    list-style-type: lower-greek;
    list-style-position: inside;
    list-style-image: url(https://tse1.mm.bing.net/th?id=OIP.gKgnp0Ebe7kGZzoEWWDuCQHaEK&pid=Api&P=0&h=220);
}

ul{ 
    font-size: 30px;
    list-style-type: square;
    list-style-position: inside;
    
}

.l3{
    list-style-type: circle;
    list-style-position: outside;
}


.l1{
    list-style-type: circle;
    list-style-position: outside;
}