#first{
    
    color: rgb(25, 200, 75); background-color: rgb(15, 128, 200);font-size:30px ;text-align: center;

}

.second{

    background-color: rgb(190, 50, 200); color: rgb(168, 160, 50);text-align: left; font-size: larger;

}



if x % 3 ==0:
return "Bang"
elif x % 5==0:
return "Boom"
elif x % 3 == 0 and x % 5 ==0:
return "BangBoom"
else:
return "Miss"