*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    height:100vh ;
    position: relative;

}
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 100px;
    box-shadow: 0px 0px 10px rgb(209, 209, 209);
    position: fixed;
    top: 0px;
}

.left-div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;

}

ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

li{
    list-style-type: none;
    font-weight: 500;
    text-transform:capitalize;
    transition: 0.3s;
}

li:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.sidebar-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    cursor: pointer;
}
.sidebar{
    width:250px;
    height: 100vh;
    background-color: white;
    position: fixed;
    z-index: 100;
    top: 0;
    right: -300px;
    display: flex;
    align-items:center;
    justify-content: start;
    flex-direction: column;
    padding-top: 40px;
    border: 3px solid black;
    transition: 0.5s ease-out;
    overflow-y: scroll;

}
.sidebar-header{
    font-size: 25px;
}
.change{
    width: 100px;
}
.amount-and-sum{
    width: 231px;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    position:fixed;
    bottom: 3px;
    height: 100px;
    /* background-color: rgb(209, 203, 203); */
    backdrop-filter: blur(30px);
    padding: 15px;
}

.quit{
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    padding: 5px 10px;
    color: #000;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.4s;
}
.quit:hover{
    color: #ffffff;
    background-color: red;
}

.pc-cart{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 10px 0px;
    border: 1px solid black;
    width: 100%;
}

.cart-info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.name,.price {
    font-size: 17px;
}
.remove{
    padding: 5px 5px;
    border: none;
    background-color: red;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.pcs{
    width: 100%;
    hanging-punctuation: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.pcdiv{
    width: 200px;
    height: 250px;
    box-shadow: 0px 0px 10px rgb(215, 219, 215);
    border-radius:5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    
}
.infodiv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}
.pcname{
    font-size: 20px;
}
.addbutton{
    padding: 8px 10px;
    border: none;
    border-radius: 10px;
    background-color: rgb(139, 200, 48);
    font-size: 15px;
    cursor: pointer;
}